*.old
*.tmp
/catalog-v001.xml
build/robot.jar
build/cob-annotations.ttl
cob-to-external.ttl
cob-to-external.sssom.owl
build/
.DS_Store

semantic.cache
bin/

*.tmp
*.tmp.obo
*.tmp.owl
*.tmp.json

src/ontology/mirror
src/ontology/mirror/*
src/ontology/reports/*
src/ontology/cob.owl
src/ontology/cob.obo
src/ontology/cob.json
src/ontology/cob-base.*
src/ontology/cob-basic.*
src/ontology/cob-full.*
src/ontology/cob-simple.*
src/ontology/cob-simple-non-classified.*

src/ontology/seed.txt
src/ontology/dosdp-tools.log
src/ontology/ed_definitions_merged.owl
src/ontology/ontologyterms.txt
src/ontology/simple_seed.txt
src/ontology/patterns
src/ontology/merged-cob-edit.owl

src/ontology/target/
src/ontology/tmp/*
!src/ontology/tmp/README.md

src/ontology/imports/*_terms_combined.txt

src/patterns/data/**/*.ofn
src/patterns/data/**/*.txt
src/patterns/pattern_owl_seed.txt
src/patterns/all_pattern_terms.txt
src/ontology/README-editors.md
src/ontology/products/
src/ontology/cob-native.owl
src/ontology/cob.ttl
src/ontology/cob-base-reasoned.owl
src/ontology/cob-examples-reasoned.owl
